{% extends '@App/base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>CHARTE DE BONNE CONDUITE</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container" id="charte">

            <div class="row">
                <div class="heading">
                    <h3>Merci de prendre connaissance de cette charte</h3>
                </div>
                <h4>En tant qu’utilisateur des parkings du réseau Flashparking, vous reconnaissez avoir pris connaissance de cette charte de bonne conduite.</h4>
                    Je m’engage : <br/>
                        -	A faire preuve de courtoisie et de modération dans l’ensemble de mes propos <br/>
                        -	A respecter le fonctionnement du parking en me garant à la place qui m’a été attribuée lors de mon entrée dans le parking. <br/>
                        -	A me garer correctement sur ma place de parking. C’est-à-dire que mon véhicule ne doit pas empiéter sur la/les place(s) voisine(s) <br/>
                        -	A respecter les véhicules des autres utilisateurs <br/>
                        -	A ne pas prendre d’initiative si un véhicule est mal garé mais à prévenir les gestionnaires du parking par mail ou par téléphone. <br/>
                    <h5>Tout manquement à cette charte pourra entraîner des pénalités.</h5>
                <br/>
                    <h4>La direction</h4>
            </div>
        </div>
    </div>

{% endblock %}