{% extends '@App/base.html.twig' %}

{% block body %}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Se connecter / S'inscrire</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.php">Accueil</a>
                    </li>
                    <li>S'inscrire / Se connecter</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Nouvel utilisateur</h2>

                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                        ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <hr>
                    <form action="customer-orders.php" method="post">
                        <div class="form-group">
                            <label for="name-login">Nom *</label>
                            <input type="text" class="form-control" id="name-login">
                            <label for="firstname-login">Prénom *</label>
                            <input type="text" class="form-control" id="firstname-login">
                            <label for="birthday-login">Date de naissance</label>
                            <input type="text" class="form-control" id="birthday-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Email *</label>
                            <input type="text" class="form-control" id="email-login">
                            <label for="phone-login">Téléphone *</label>
                            <input type="text" class="form-control" id="phone-login">
                            <label for="phone2-login">Second numéro</label>
                            <input type="text" class="form-control" id="phone2-login">
                        </div>
                        <div class="form-group">
                            <label for="adresse-login">Adresse</label>
                            <input type="text" class="form-control" id="adresse-login">
                            <label for="adresse2-login">Seconde adresse</label>
                            <input type="text" class="form-control" id="adresse2-login">
                            <label for="cp-login">Code postal</label>
                            <input type="text" class="form-control" id="cp-login">
                            <label for="city-login">Ville</label>
                            <input type="text" class="form-control" id="city-login">
                            <label for="immat-login">Immatriculation de votre véhicule *</label>
                            <input type="text" class="form-control" id="immat-login">
                        </div>
                        <div class="form-group">
                            <label for="login-login">Login *</label>
                            <input type="text" class="form-control" id="login-login">
                            <label for="pwd-login">Mot de passe *</label>
                            <input type="text" class="form-control" id="pwd-login">
                            <label for="pwd2-login">Retapez votre mot de passe *</label>
                            <input type="text" class="form-control" id="pwd2-login">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="checkbox-inline" id="charte-login">
                            <label for="charte-login" class="checkbox-inline">J'ai lu et j'accepte les conditions de la charte de bonne conduite</label>
                        </div>
                            <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> S'enregistrer</button>
                        </div>

                        <label class="checkbox-inline">* Champs obligatoires</label>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Se connecter</h2>

                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                        ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <hr>

                    <form action="customer-orders.php" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
{% endblock %}